// iphone 6
@media (device-height: 640px) 
and (device-width: 384px) 
and (orientation: portrait) {
	body { padding-bottom: 18%; }
	.entry-container {
		margin-top: 3%;
	}
	.btn-wrapper {
		bottom: 3%;
		height: 38px;
		width: 100%;
		.ctrl-btn {
  		border-radius: 0;
			margin-bottom: 0;
			&.copy-btn {
        top: 0.5%;
				width: 49.9%;
			}
			&.random-btn {
        top: 0.5%;
				width: 49.9%;
				right: -3.6%
			}
		}
  }
}

@media (device-width: 640px) and (device-height: 384px) and (orientation: landscape) {
	body { padding-bottom: 9%; }
	.entry-container { margin-top: 3%; }
	.btn-wrapper {
		bottom: -0.5%;
		height: 10%; 
		width: 100%;
		.ctrl-btn {
  		border-radius: 0;
			margin-bottom: 0;
			&.copy-btn {
        top: 0.5%;
				width: 49.9%;
			}
			&.random-btn {
        top: 0.5%;
				width: 49.9%;
				right: 19.3%;
			}
		}
	}
}
