.random-btn {
	background-color: #1F4788;
	transition: all .35s;
	position: relative;
	&:active, &:focus  {
	  background-color: #1F4788;
	}
}

.btn-wrapper {
  position: fixed;
	top: 48%;
	right: 190px;
}

.ctrl-btn {
	background-color: #1F4788;
	position: absolute;
	border: 0;
	transition: all .35s;
  right: -210px;
	&:active, &:focus  {
	  background-color: #1F4788;
	}
	&.random-btn { top: 2px; right: -208px; }
	&.copy-btn { top: 36px; }
}
