.entry-{
  &container { 
    border: 1px solid gray;
    border-radius: 1rem;
  }
  &row { margin-bottom: 2rem; }
  &text {
    max-height: 4.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    &.more { 
      max-height: 60rem; 
      font-family: 'Lato', sans-serif;
    }
  }
  &author, &book {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    display: inline-block;
    font-size: 1.3rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &see-more, &favorite{
    display: inline-block;
    font-weight: 600;
    float: right;
    font-size: 1.3rem;
    position: relative;
    top: 0.3333rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &favorite {
    margin-right: 0.5rem;
  }
}

.tags {
  margin-top: 1rem;
  .tag {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background-color: #9b4dca;
    background-color: #9b4dca;
    color: #fff;
    padding: 6px;
    &:first-child {
      margin-left: 0;
    }
  }
}
