.entry-{
  &container { 
    margin-bottom: 1.67rem;
    padding: 0 1rem;
  }
  &link {
    color: #1F4788;
  }
  &row { margin-bottom: 2rem; }
  &text {
    max-height: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.6rem;
    &.more { 
      max-height: 60rem; 
      font-family: 'Open Sans', sans-serif;
    }
  }
  &author, &book {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    font-size: 1.3rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &see-more, &favorite{
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    top: 0.3333rem;
    color: #1F4788;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &favorite {
    margin-right: 0.5rem;
  }
  &meta {
    margin-bottom: 1rem;
    &-info, &-actions {
     text-align: right;
    }
  }
  &interact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.tags {
  margin-top: 1rem;
  .tag {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background-color: #9b4dca;
    background-color: #9b4dca;
    color: #fff;
    padding: 6px;
    &:first-child {
      margin-left: 0;
    }
  }
}
