.quote-container {
  .quote-text {
    max-height: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tags {
  margin-top: 1rem;
  .tag {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background-color: #9b4dca;
    background-color: #9b4dca;
    color: #fff;
    padding: 6px;
    &:first-child {
      margin-left: 0;
    }
  }
}
