.quote-container {
  max-width: 300px;
  display: inline-block;
  position: relative;
  position: relative;
  display: block;
  width: 450px;
  float: left;
  margin-right: 20px;
}

.tags {
  margin-top: 1rem;
  .tag {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background-color: #9b4dca;
    background-color: #9b4dca;
    color: #fff;
    padding: 6px;
  }
}

  button:disabled {
      background-color: #606c76;
      border-color: #606c76;
      color: #ffffff;
      outline: 0;
  }
